.container {
  display: flex;
  align-items: center;
  height: 4rem;
  padding: 0 1rem;
  background-color: colors.$greyLight;

  .titleText {
    flex-grow: 1;
    padding-right: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    white-space: nowrap;
  }

  .iconButton {
    width: 1.875rem;
    height: 1.875rem;
  }
}
