.buttonRow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  .loadingContainer {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    align-items: center;
    justify-content: center;
  }
}
