.MainLayoutContainer {
  display: flex;
  height: 100vh;
  background-color: colors.$greyBackground;
}

.MainLayoutRightContent {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin: 1rem 1.5rem;
}

.MainLayoutHeaderContainer {
  display: flex;
  justify-content: space-between;
}

.MainLayoutChildrenContainer {
  flex-grow: 1;
}
