.container {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  width: 100%;
  min-height: 4rem;
  padding: 1rem;
  border-top: 1px solid colors.$greyBackground;

  // Mobile
  @media (min-width: breakpoints.$breakpoint-mobile-min) and (max-width: breakpoints.$breakpoint-mobile-max) {
    justify-content: center;
    border-top: none;
  }
}

@media (min-width: breakpoints.$breakpoint-mobile-min) and (max-width: breakpoints.$breakpoint-mobile-max) {
  .container {
    justify-content: center;
    border-top: none;
  }
}
