.contextContainer {
  display: flex;
  height: 3.125rem;
}

.user {
  display: flex;
  align-items: center;
  font-size: commonStyles.$biggerFontSize;
  font-weight: 700;
  line-height: 1rem;
  width: max-content;
  color: colors.$primary;
  cursor: default;
  padding-right: 1.875rem;
  border-right: 0.125rem solid colors.$greyLightBorder;
  height: 2.5rem;

  .textMargin {
    margin-left: 0.6875rem;
  }

  .icon {
    width: 0.875rem;
    height: 0.875rem;
  }
}
