.confirmDeleteContainer {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-scale4);
  align-items: center;

  .confirmDeleteMessage {
    font-size: var(--font-size-xs);
    color: var(--color-primitive-white);
  }

  .confirmDeleteButton {
    display: -webkit-box;
    height: var(--spacing-scale6);
    overflow: hidden;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    font-size: var(--font-size-xs);
    color: var(--color-primitive-white);
    border: 0.0625rem solid var(--color-primitive-white);
    -webkit-box-orient: vertical;

    &:hover {
      background-color: var(--color-semantic-feedback-error-hover);
    }
  }
}
