.confirmDeleteContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;

  .confirmDeleteMessage {
    font-size: commonStyles.$normalFontSize;
    color: colors.$whiteMain;
  }

  .confirmDeleteButton {
    display: -webkit-box;
    height: 1.5rem;
    overflow: hidden;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    font-size: commonStyles.$normalFontSize;
    color: colors.$whiteMain;
    border: 0.0625rem solid colors.$whiteMain;
    -webkit-box-orient: vertical;

    &:hover {
      background-color: colors.$dangerHover;
    }
  }
}
