.container {
  display: flex;
  align-items: center;
  height: var(--spacing-scale16);
  padding: 0 var(--spacing-scale4);
  background-color: var(--color-primitive-blue300);

  .titleText {
    margin-right: var(--spacing-scale1);
    font-size: var(--font-size-lg);
    color: var(--color-semantic-text-primary);
  }

  .boldText {
    font-weight: bold;
  }

  .iconButton {
    width: 1.875rem;
    height: 1.875rem;
  }

  .translateIconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--spacing-scale6);
    height: var(--spacing-scale6);
    margin-right: var(--spacing-scale2);
    background-color: var(--color-semantic-text-primary);
    border-radius: 50%;

    .translateIcon {
      width: var(--spacing-scale4);
      height: var(--spacing-scale4);
      color: var(--color-primitive-white);
      background-color: transparent;
    }
  }
}
