.container {
  display: flex;
  align-items: center;
  height: 4rem;
  padding: 0 1rem;
  background-color: colors.$greyLight;

  .titleText {
    margin-right: 0.25rem;
    font-size: 1.125rem;
    color: colors.$textColor;
  }

  .boldText {
    font-weight: bold;
  }

  .iconButton {
    width: 1.875rem;
    height: 1.875rem;
  }

  .translateIconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
    background-color: colors.$textColor;
    border-radius: 50%;

    .translateIcon {
      width: 1rem;
      height: 1rem;
      color: colors.$whiteMain;
      background-color: transparent;
    }
  }
}
