.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: fit-content;
  overflow: hidden;

  .dateCalendar {
    width: 100%;
    height: 100%;
    background-color: colors.$whiteMain;

    :global(.MuiPickersCalendarHeader-label) {
      font-size: 1.125rem;
      font-weight: bold;
      color: colors.$primaryBlue;
    }

    :global(.MuiDayCalendar-weekDayLabel) {
      font-size: 1.125rem;
      font-weight: bold;
    }

    :global(.MuiPickersDay-root) {
      font-size: 1rem;
    }

    :global(.MuiDayCalendar-header) {
      border-bottom: 0.5px solid colors.$greyLightBorder;
    }

    :global(.MuiPickersArrowSwitcher-previousIconButton) {
      margin-right: 0.5rem;
    }

    :global(.MuiPickersArrowSwitcher-nextIconButton) {
      margin-left: 0.5rem;
    }

    :global(.MuiPickersArrowSwitcher-spacer) {
      display: none;
    }

    :global(.Mui-disabled) {
      opacity: 0.5;
    }

    .iconButtonContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-inline: 0.2rem;
    }
  }

  .smallDateCalendar {
    :global(.MuiPickersCalendarHeader-root) {
      margin-top: 0.5rem;
    }
  }
}
