.container {
  display: flex;
  gap: var(--spacing-scale4);
  justify-content: flex-end;
  width: 100%;
  padding-top: var(--spacing-scale2);
  border-top: 1px solid var(--color-semantic-background-surface);
}
